.logo {
    height: 32px;
    margin: 16px;
    /* background: rgba(255, 255, 255, 0.3); */
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }


.logoImage {
  height: 40px;
  width: 40px;
}